#Project
TestResults/

#Visual Studio
*.sln
*.pyproj

#Python
*.egg-info
*.pyc
dist/
.vs/
.venv/

#Pytest
.pytest_cache/

#PDM
.pdm-python
__pypackages__/
.pdm-build/

#ruff
.ruff_cache/

#Coverage
.coverage

#VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.mypy_cache
node_modules/